body {
  text-align: center;
  font-family: monospace;
  background-image: url('../../images/static-tv.png');
  background-color: black;
  background-size: cover;
}

h1 {
  width: 100%;
  margin-top: 19px;
  font-size: 65px;
  color: #FFFFFF;
  font-family: monospace;
}

button {
  font-family: monospace;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
}

input {
  width: 96.7%;
  font-size: 20px;
}

select {
  width: 100%;
  font-size: 20px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.toolkit {
  position: relative;
  width: 17%;
  left: 4%;
  background-color: rgba(255, 255, 255, .3);
}

.generate-btn,
.save-pallete, {
  width: 145px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  border: solid 3px ;
}

.palette-tool {
  margin: 30px 0;
}

.project-tool {
  margin-top: 30px;
  font-family: monospace;
}

.locker {
  width: 30px;
  margin-top: 30px;
  cursor: pointer
}

.palettes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  position: relative;
  left: 3%;
  top: 40px;
}

.color-palette {
  width: 19%;
  height: 790px;
}

.hexcode {
  background-color: #000000;
  color: #FFFFFF;
  font-size: 20px;
}

.all-projects {
  margin-top: 19px;
  overflow: scroll;
  height: 550px;
  background-color: rgba(0, 0, 0, .75);
}

.palette-name {
  font-family: monospace;
  margin-top: 30px;

  font-size: 16px;
  color: #FFFFFF;
}

.color-thumbnail {
  display: inline-block;
  margin: 0;
  width: 10px;
  height: 20px;
}

.project-name {
  font-family: monospace;
  font-size: 18px;
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
}

.project-name,
.delete-project {
  display: inline-block;
}

.delete-project {
  margin: 0;
  background: #000000;
  color: #FFFFFF;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}

.bin {
  position: relative;
  width: 20px;
  cursor: pointer;
}

/*@media screen and (max-width: 1555px) {
  .color-palette {
    height: 74vh;
  }
}*/

@media screen and (max-width: 1198px) {
  h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 980px) {
  .palettes {
    width: 75%;
    height: 16vh;
  }

  .generate-btn,
  form {
    display: inline-block;
  }
}