body {
  font-family: sans-serif; 
  text-align: center;
}

.generate-btn {
  width: 30%;
  padding: 10px;
  font-size: 26px;
  margin-bottom: 30px;
}

.locker {
  width: 50px;
  margin-top: 30px;
  cursor: pointer
}

.palettes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.color-palette {
  width: 18%;
  height: 500px;
}